.menu-fade-in {
    display: flex;
    animation: fadeIn 200ms linear 1;
}

.item-fade-in {
    display: flex;
    animation: fadeIn 300ms linear 1;
}

.article-fade-in {
    animation: fadeIn 250ms ease-in 1;
}

.article-fade-out {
    animation: fadeIn 125ms ease-out reverse 1;
}

.visible {
    opacity: 100;
}

.fixed {
    position: fixed;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}