@media (min-width: 1050px) {
    .client-content {
        margin: 0px 250px 0px 250px;
    }

    .logo-wrapper > img {
        width: 25%;
    }
}

@media (min-width: 925px) and (max-width: 1050px) {
    .client-content {
        margin: 0px 200px 0px 200px;
    }

    .logo-wrapper > img {
        width: 33%;
    }
}

@media (min-width: 950px) {
    .arrow-wrapper {
        display: flex;
    }

    .client-content-wrapper {
        margin-right: 25px;
    }
}

@media (min-width: 925px) {
    .top-nav {
        margin: 50px 150px 0px 150px;
        padding-bottom: 30px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: var(--bg-black);
    }

    .hamburger {
        align-self: flex-end;
    }

    .dept-logo {
        height: 30px;
    }

    .header {
        margin: 15px;
        padding: 0px 150px 0px 150px;
        height: 935px;
        justify-content: space-between;
    }

    .case-button {
        top: -100px;
        position: relative;
        align-self: flex-end;
        width: 170px;
        font-size: 1rem;
    }

    .header > h1 {
        margin: 150px 0px 0px 0px;
        font-size: 21vw;
    }

    .article-filter {
        width: 100%;
        flex-direction: row;
        background-color: white;
        align-content: center;
    }

    .article-filter > p {
        margin-bottom: 0;
        margin-right: 15px;
        font-size: 2em;
        text-transform: none;
    }

    .article-filter > select {
        width: fit-content;
        margin-bottom: 0px;
        background-color: white;
    }

    #industry-select {
        margin-right: 15px;
    }

    #type-select {
        padding-right: 15px;
    }

    .article-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 50px;
        row-gap: 70px;
        justify-content: space-between;
        width: 100%;
    }
    
    article {
        max-width: 45%;
    }
    
    article > a > h2 {
        font-size: 2.25rem;
    }
    
    article > a > h3 {
        margin: 20px 0px 15px 0px;
        font-size: 1rem;
    }

    article > a > button {
        font-size: 1rem;
        width: 120px;
    }

    .footer-content {
        margin: 100px 100px 0px 100px;
        padding-bottom: 25px;
        border-width: 0px 0px 2px 0px;
    }
    
    .footer-links, .social-links {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    
    .footer-links > a {
        font-size: 1.1rem;
        margin: 0px 20px 0px 0px;
    }
    
    .footer-links > img {
        position: relative;
        display: flex;
        top: -5px;
        align-self: flex-end;
    }
    
    .social-links > a > img {
        height: 1.1rem;
        margin: 0px 0px 0px 20px;
    }
    
    .footer-info {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 40px 100px 100px 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        color: var(--dark-grey);
    }
    
    .info-wrapper {
        align-self: flex-end;
        flex-direction: row;
        margin-right: 200px;
    }
    
    .info-wrapper > p {
        align-self: flex-end;
        margin-left: 40px;
    }

    .menu-links {
        margin: 65px 145px 0px 145px;
        overflow: visible;
    }
    
    .menu-links > a {
        justify-content: flex-end;
        align-items: center;
        font-family: "Teko Regular";
        font-size: 3.5rem;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .menu-links > a > img {
        display: none;
        top: -5px;
        position: relative;
        margin-right: 10px;
        height: 25%;
    }
}

@media (min-width: 775px) and (max-width: 925px) {
    .logo-wrapper > img {
        width: 33%;
    }

    .client-content {
        margin: 0px 100px 0px 100px;
    }
}

@media (min-width: 600px) and (max-width: 775px) {
    .client-content {
        margin: 0px 75px 0px 75px;
    }
}

@media (min-width: 600px) {
    .page-content-wrapper {
        margin: 0px 150px 40px 150px;
    }

    .article-filter {
        margin: 100px 0px 75px 0px;
    }

    article > a:hover{
        margin-top: -25px;
        margin-bottom: 25px;
    }

    article > a:hover > *{
        color: var(--dark-blue);
    }
    
    article > a > button {
        display: block;
    }

    article > a:hover > button {
        margin-right: 0;
        opacity: 100;
    }

    .client-content {
        padding: 60px 0px 90px 0px;
    }

    .client-content > p {
        max-width: 550px;
        text-align: justify;
        text-align-last: center;
    }
}